<div id="bbs" class="rt-block">
    <div class="rt-block-tt heit">
        <div class="lt"><i></i>i8小时社区</div>
    </div>
    <div class="rt-block-cont">
        <ul id="js_bbs" class="rt-topic">
            <div class="block-no-ld">加载中...</div>
        </ul>
    </div>
    <script>
        seajs.use('/default/javascripts/modules/bbs.js');
    </script>
</div>
