<div class="app-lt lt">
    <ul class="app-lt-menu">
        <li>企业文化墙</li>
        <li>
            <div id="js_cement_ltmenu" class="app-lt-submenu fz12">
                <a class="current"><i class="spbg1 sprite-78"></i>全部</a>
                <a><i class="spbg1 sprite-86"></i>公告</a>
                <a><i class="spbg1 sprite-81"></i>生活</a>
                <a><i class="spbg1 sprite-82"></i>公司文化</a>
                <a class="nav-a1"><i class="spbg1 sprite-83"></i>添加分类</a>
                <a class="nav-a2"><i class="spbg1 sprite-84"></i>删除分类</a>
            </div>
        </li>
    </ul>
</div>
<script id="js_cement_type_list" type="text/html">
    <table class="app-placard-mglist m-20">
        <thead>
            <tr>
                <td>分类名称</td>
                <td>创建时间</td>
                <td>创建人人</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a>公告</a></td>
                <td>2014-11-05 10:00:00</td>
                <td>上海汇明</td>
                <td><i class="spbg1 sprite-70"></i>删除</a></td>
            </tr>
            <tr>
                <td><a>公告</a></td>
                <td>2014-11-05 10:00:00</td>
                <td>上海汇明</td>
                <td><i class="spbg1 sprite-70"></i>删除</a></td>
            </tr>
            <tr>
                <td><a>公告</a></td>
                <td>2014-11-05 10:00:00</td>
                <td>上海汇明</td>
                <td><i class="spbg1 sprite-70"></i>删除</a></td>
            </tr>
            <tr>
                <td><a>公告</a></td>
                <td>2014-11-05 10:00:00</td>
                <td>上海汇明</td>
                <td><i class="spbg1 sprite-70"></i>删除</a></td>
            </tr>
            <tr>
                <td><a>公告</a></td>
                <td>2014-11-05 10:00:00</td>
                <td>上海汇明</td>
                <td><i class="spbg1 sprite-70"></i>删除</a></td>
            </tr>
            <tr>
                <td><a>公告</a></td>
                <td>2014-11-05 10:00:00</td>
                <td>上海汇明</td>
                <td><i class="spbg1 sprite-70"></i>删除</a></td>
            </tr>
        </tbody>
    </table>
</script>
<script id="js_cement_addtype" type="text/html">
    <div class="" style="margin: 20px;">
        <dl class="">
            <dt class="lt" style="width: 60px; line-height: 30px;">分类名称：</dt>
            <dd style="margin-left: 60px;">
                <input type="text" class="placard-edit-txt" style="width: 200px;" />
            </dd>
        </dl>
        <div class="tcenter m-t15">
            <span class="btn-blue96x32">新增</span>
            <span class="btn-gray96x32">取消</span>
        </div>
    </div>
</script>
<script>
    seajs.use('/default/javascripts/cement/left-menu.js');
</script>
