<div class="rt-block" id="managenovice">
    <div class="rt-block-tt ">
        <div class="lt heit"><i></i>管理员上路</div>
        <span id="js_manage_novice_status" class="rt fz12 sontt"><i class="spbg1 sprite-91"></i>初掌i8</span>
    </div>
    <div class="rt-block-cont">
        <ul id="js_manage_novice_ul" class="rt-topic rt-novice rt-mangnovice m-t5 m-b5 hide">
            <li class="{setcomp}">
                <a>完善企业基本用户<i class="spbg1 sprite-87"></i></a>
                <div class="rt-mangnovice-tps">
                    <span class="rt-linj">◆<span>◆</span></span>
                    可修改企业和社区名字，并上传企业LOGO
                    <a>马上完善>></a>
                </div>
            </li>
            <li class="{invitemate}">
                <a>邀请同事<i class="spbg1 sprite-87"></i></a>
                <div class="rt-mangnovice-tps">
                    <span class="rt-linj">◆<span>◆</span></span>
                    可通过添加邮箱账号邀请同事加入自己的社区
                    <a>马上邀请>></a>
                </div>
            </li>
            <li class="{addlevel}">
                <a>设置组织架构<i class="spbg1 sprite-87"></i></a>
                <div class="rt-mangnovice-tps">
                    <span class="rt-linj">◆<span>◆</span></span>
                    在i8小时平台上，组织架构主要用于简历流程的汇报关系，周日报的下属查看权限，以及选人控件的按组织选择和查找等。
                    <a>马上设置>></a>
                </div>
            </li>
            <li class="{addorg}">
                <a>设置职级体系<i class="spbg1 sprite-87"></i></a>
                <div class="rt-mangnovice-tps">
                    <span class="rt-linj">◆<span>◆</span></span>
                    在i8小时平台上，专项角色用于流程中设置某个关键环节由固定人员审批
                    <a>马上设置>></a>
                </div>
            </li>
            <li class="{setrole}">
                <a>设置专项角色<i class="spbg1 sprite-87"></i></a>
                <div class="rt-mangnovice-tps">
                    <span class="rt-linj">◆<span>◆</span></span>
                    在i8小时平台上，专项角色用于流程中设置某个关键环节由固定人员审批
                    <a>马上设置>></a>
                </div>
            </li>
            <li class="{designwf}">
                <a>设计并上架一个流程<i class="spbg1 sprite-87"></i></a>
                <div class="rt-mangnovice-tps">
                    <span class="rt-linj">◆<span>◆</span></span>
                    设计流程上架后，可以供所有社区成员发起使用该流程
                    <a>马上设计>></a>
                </div>
            </li>
            <li class="{addadmin}">
                <a>新增一位管理员<i class="spbg1 sprite-87"></i></a>
                <div class="rt-mangnovice-tps">
                    <span class="rt-linj">◆<span>◆</span></span>
                    新增管理员可以为您减轻部分负担，帮您管理社区或者设置中心
                    <a>马上新增>></a>
                </div>
            </li>
            <li class="{addcontact}">
                <a>添加公共通讯录<i class="spbg1 sprite-87"></i></a>
                <div class="rt-mangnovice-tps">
                    <span class="rt-linj">◆<span>◆</span></span>
                    添加向全社区成员公开的联系方式
                    <a>马上添加>></a>
                </div>
            </li>
        </ul>
    </div>
    <script>
        seajs.use('/default/javascripts/modules/managenovice.js');
    </script>
</div>
