<div id="js_block_set" class="block-set hide">
    <div id="js_block_setbtn" class="md-spbg md-set1"></div>
    <div id="js_block_setcont" class="oflow">
        <div class="md-spbg md-set2">
            <span class="md-set-span set-first" style="margin-top: 40px;"></span>
            <span class="md-set-span set-up"></span>
            <span class="md-set-span set-down"></span>
            <span class="md-set-span set-last"></span>
            <span class="md-set-span set-show" style="margin-top: 5px;"></span>
        </div>
        <div class="block-set-cont hide">
            <div class="block-set-op close" name="members">新员工风采<span class="md-spbg"><i class="md-spbg"></i></span></div>
            <div class="block-set-op close" name="birthday">生日祝福<span class="md-spbg"><i class="md-spbg"></i></span></div>
            <div class="block-set-op close" name="bbs">i8小时社区<span class="md-spbg"><i class="md-spbg"></i></span></div>
            <div class="block-set-op close" name="topic">热门话题<span class="md-spbg"><i class="md-spbg"></i></span></div>
            <div class="block-set-op close" name="novice">新手上路<span class="md-spbg"><i class="md-spbg"></i></span></div>
            <div class="block-set-op close" name="managenovice">管理员上路<span class="md-spbg"><i class="md-spbg"></i></span></div>
            <p class="md-set-tps">修改后,请刷新页面</p>
        </div>
    </div>
</div>
<script>
    seajs.use("/default/javascripts/modules/modules-set.js");
</script>