<div class="rt-block" id="novice">
    <div class="rt-block-tt ">
        <div class="lt heit"><i></i>新手上路</div>
        <span id="js_novice_status" class="rt fz12 sontt">初入i8职场</span>
    </div>
    <div class="rt-block-cont">
        <ul id="js_novice_ul" class="rt-topic rt-novice m-t5 m-b5">
        </ul>
        <div class="bd-top">
            <a class="rt-novice-help"><i class="spbg1 sprite-88"></i>查看帮助视频</a>
            <a class="rt-novice-help"><i class="spbg1 sprite-89"></i>进入体验社区</a>
        </div>
    </div>
    <script>
        seajs.use('/default/javascripts/modules/novice.js');
    </script>
</div>
