<div class="rt-block" id="topic">
    <div class="rt-block-tt heit">
        <div class="lt"><i></i>热门话题</div>
    </div>
    <div class="rt-block-cont">
        <ul id="js_topic" class="rt-topic">
            <div class="block-no-ld">加载中...</div>
        </ul>
    </div>
    <script>
        seajs.use('/default/javascripts/modules/topic.js');
    </script>
</div>
