<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        *{padding:0px;margin:0px;list-style:none}
        .loadingbox{width:130px;height:50px;line-height: 50px;font-size:14px;}
    </style>
</head>
<body>
    <div class="loadingbox">跳转中...</div>
</body>
</html>