<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta http-equiv="x-ua-compatible" content="IE=8" >
    <!--start css-->
    <link type="text/css" rel="stylesheet" href="../../resource/default/stylesheets/fw.css" />
    <link type="text/css" rel="stylesheet" href="../../resource/default/stylesheets/app.css" />
    <link type="text/css" rel="stylesheet" href="home.css" />
    <!--end css-->
</head>
<body>
<div class="app-header">
    <div class="app-header-top">
        <div class="login-info">
            <a href="javascript:;"></a>
            您好，欢迎来到i8工作流系统中心！ <a href="/logout" title="退出系统">退出</a>
        </div>
    </div>
    <div class="app-header-main">
        <a class="app-logo"></a>
        <ul class="app-mapsite">
            <li>
                <a href="###">社区协作</a>
            </li>
            <li>
                <a href="/main" class="current">数据流量</a>
            </li>
        </ul>
        <div class="app-funs">
            <div class="app_top_search">
                <span id="js_header_search_btn" class="app_top_search_btn"></span>
                <input id="js_header_search_txt" class="app_top_search_input" type="text">
                <span class="app_top_search_mask" >搜索侃侃、动态、同事、文档 <i class="app_top_search_btn"></i></span>
                <div style="display: none" id="com_top_headdown_tempSuggestBox"></div>
            </div>
            <ul class="my-system">
                <li class="my-info">
                    <a >&nbsp;</a>
                    <div class="my-system-menu">
                        <div class="my-system-posi"></div>
                        <a><i class="sp-menu-hd1"></i>个人设置</a>
                        <a><i class="sp-menu-hd3"></i>修改头像</a>
                        <a><i class="sp-menu-hd3"></i>密码重置</a>
                        <a><i class="sp-menu-hd4"></i>提醒设置</a>
                        <a><i class="sp-menu-hd5"></i>退出</a>
                    </div>
                </li>
                <li class="my-message">
                    <a >&nbsp;</a>
                    <div class="my-system-menu">
                        <div class="my-system-posi"></div>
                        <a><span class="my-tips-num">1</span>人参与新投票</a>
                        <a><i class="sp-menu-hd6"></i>评论</a>
                        <a><i class="sp-menu-hd7"></i>@我的</a>
                        <a><i class="sp-menu-hd8"></i>系统消息</a>
                    </div>
                    <div class="system-message-div">
                        <a><span class="my-tips-num">1</span>人参与新投票</a>
                        <span class="my-tps-close"></span>
                    </div>
                </li>
                <li class="my-set"><a >&nbsp;</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="app-content-bg">
    <div class="app-content">
        <div class="ta-home-bg oflow">
            <img class="pf-img" src="pf.png" width="1200" />
            <div class="ta-head-bd">
                <div class="ta-head-bc"></div>
                <img src="http://hvming.i8xiaoshi.com/ResourceStore/HeadXLarge/c4b2d40b-8c2c-4fa3-95ac-5c48e23d9807.jpg">
            </div>
            <div class="ta-home-name heit tcenter">
                小罗伯特·唐尼<i class="spbg1 sprite-1"></i><i class="spbg1 sprite-3"></i><span class="ta-home-xz">天秤座</span>
                <p class="ta-home-tps">我就是这么拽，我有钱，我任性</p>
            </div>
            <div class="ta-home-info">
                <div class="ta-home-ddd">··································································</div>
                <div class="ta-home-td lt">
                    <i class="spbg1 sprite-2"></i>
                    <p style="text-indent: 20px;">产品部</p>
                </div>
                <div class="ta-home-td lt">
                    <i class="spbg1 sprite-4"></i>
                    <p style="text-indent: 30px;">产品总监</p>
                </div>
                <div class="ta-home-td lt">
                    <i class="spbg1 sprite-5"></i>
                    <p style="text-indent: 30px;">wuzhiyan@i8xiaoshi.net</p>
                </div>
                <div class="ta-home-td lt">
                    <i class="spbg1 sprite-6"></i>
                    <p style="text-indent: 80px;">021-50477763</p>
                </div>
                <div class="ta-home-td lt">
                    <i class="spbg1 sprite-7"></i>
                    <p class="tright">15821733822</p>
                </div>
            </div>
            <div class="ta-pf-btns">
                <div class="ta-pf-btn">
                    <p>上传封面图</p>
                    <i class=""></i>
                </div>
            </div>
        </div>
        <div class="app-ta-lt w750 lt">
            <div class="ta-home-menu heit">
                <div class="lt">
                    <span class="ta-tt"><i class="ta-i">TA</i>的动态</span>
                </div>
                <div class="lt">
                    <span class="ta-tt "><i class="ta-i">TA</i>的资料</span>
                </div>
                <div class="lt">
                    <span class="ta-tt current"><i class="ta-i">TA</i>的群组</span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="rt-ta-group oflow">
                <span class="ta-group-tt lt">小萝卜特·唐尼</span>
                <div class="rt">
                    参与了<span class="ta-group-num">13</span>个群组
                </div>
            </div>
            <ul class="ta-group-lists">
                <li class="ta-group-ops">
                    <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                    <div class="ta-group-info lt">
                        <p><a class="ta-group-name">8小时以外</a></p>
                        <p>创建人：<a>任楚雄</a><span class="mg10">|</span>成员：<a>20</a>人<span class="mg10">|</span>最新更新：2014-12-08</p>
                        <p>群组简介：8小时以外、文体活动、娱乐活动、篮球、乒乓求、羽毛球等等</p>
                    </div>
                    <div class="rt">
                        <span class="ta-group-btn"><i class="spbg1 sprite-30"></i><i class="ta-group-jia">＋</i>加入该群</span>
                    </div>
                </li>
                <li class="ta-group-ops">
                    <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                    <div class="ta-group-info lt">
                        <p><a class="ta-group-name">8小时以外</a></p>
                        <p>创建人：<a>任楚雄</a><span class="mg10">|</span>成员：<a>20</a>人<span class="mg10">|</span>最新更新：2014-12-08</p>
                        <p>群组简介：8小时以外、文体活动、娱乐活动、篮球、乒乓求、羽毛球等等</p>
                    </div>
                    <div class="rt">
                        <span class="ta-group-btn"><i class="spbg1 sprite-30"></i><i class="ta-group-jia">＋</i>加入该群</span>
                    </div>
                </li>
                <li class="ta-group-ops">
                    <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                    <div class="ta-group-info lt">
                        <p><a class="ta-group-name">8小时以外</a></p>
                        <p>创建人：<a>任楚雄</a><span class="mg10">|</span>成员：<a>20</a>人<span class="mg10">|</span>最新更新：2014-12-08</p>
                        <p>群组简介：8小时以外、文体活动、娱乐活动、篮球、乒乓求、羽毛球等等</p>
                    </div>
                    <div class="rt">
                        <span class="ta-group-btn"><i class="spbg1 sprite-33"></i>退出该群</span>
                    </div>
                </li>
                <li class="ta-group-ops">
                    <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                    <div class="ta-group-info lt">
                        <p><a class="ta-group-name">8小时以外</a></p>
                        <p>创建人：<a>任楚雄</a><span class="mg10">|</span>成员：<a>20</a>人<span class="mg10">|</span>最新更新：2014-12-08</p>
                        <p>群组简介：8小时以外、文体活动、娱乐活动、篮球、乒乓求、羽毛球等等</p>
                    </div>
                    <div class="rt">
                        <span class="ta-group-btn"><i class="spbg1 sprite-33"></i>退出该群</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="app-rt w417 rt">
            <div class="rt-block ">
                <div class="rt-block-tt heit">
                    <div class="lt"><i class="ta-i">TA</i>的标签</div>
                </div>
                <div class="rt-block-cont p-t10">
                    <span class="rt-label">国家地理</span><span class="rt-label">摄影技巧哈哈</span><span class="rt-label">国家地理</span><span class="rt-label">摄影技巧</span><span class="rt-label">国家地理</span><span class="rt-label">摄影技巧</span><span class="rt-label">国家地理</span><span class="rt-label">摄影技巧</span>
                </div>
            </div>
            <div class="rt-block">
                <div class="rt-block-tt heit">
                    <div class="lt"><i class="ta-i">TA</i>的团队关系</div>
                </div>
                <div class="rt-block-cont">
                    <div class="rt-team">
                        <div class="rt-team-tt heit">
                            <i class="ta-i2">TA</i>的上级
                        </div>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <div class="clear"></div>
                    </div>
                    <div class="">
                        <div class="rt-team-tt heit">
                            <i class="ta-i2">TA</i>的同事
                        </div>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-footer">
    <ul class="links-list">
        <li >
            <a href="###">联系我们</a><span>|</span>
        </li>
        <li >
            <a href="###">安全隐私</a><span>|</span>
        </li>
        <li >
            <a href="###">合作伙伴</a>
        </li>
        <li >
            <a class="footer-phone"></a>
        </li>
        <li >
            <a class="footer-qq"></a>
        </li>
    </ul>
    <div class="app-copyright">
        沪ICP备13026113号 Copyright @ 2012-2014 i8xiaoshi
    </div>
</div>
<script  src="../../resource/default/javascripts/common/jquery-1.8.3.min.js"></script>
<script  src="../../resource/default/javascripts/common/sea.js"></script>
<script  src="../../resource/default/javascripts/common/i8_global.js"></script>
<script>

</script>
</body>
</html>

