<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta http-equiv="x-ua-compatible" content="IE=8" >
    <!--start css-->
    <link type="text/css" rel="stylesheet" href="../../resource/default/stylesheets/fw.css" />
    <link type="text/css" rel="stylesheet" href="../../resource/default/stylesheets/app.css" />
    <link type="text/css" rel="stylesheet" href="home.css" />
    <!--end css-->
</head>
<body>
<div class="app-header">
    <div class="app-header-top">
        <div class="login-info">
            <a href="javascript:;"></a>
            您好，欢迎来到i8工作流系统中心！ <a href="/logout" title="退出系统">退出</a>
        </div>
    </div>
    <div class="app-header-main">
        <a class="app-logo"></a>
        <ul class="app-mapsite">
            <li>
                <a href="###">社区协作</a>
            </li>
            <li>
                <a href="/main" class="current">数据流量</a>
            </li>
        </ul>
        <div class="app-funs">
            <div class="app_top_search">
                <span id="js_header_search_btn" class="app_top_search_btn"></span>
                <input id="js_header_search_txt" class="app_top_search_input" type="text">
                <span class="app_top_search_mask" >搜索侃侃、动态、同事、文档 <i class="app_top_search_btn"></i></span>
                <div style="display: none" id="com_top_headdown_tempSuggestBox"></div>
            </div>
            <ul class="my-system">
                <li class="my-info">
                    <a >&nbsp;</a>
                    <div class="my-system-menu">
                        <div class="my-system-posi"></div>
                        <a><i class="sp-menu-hd1"></i>个人设置</a>
                        <a><i class="sp-menu-hd3"></i>修改头像</a>
                        <a><i class="sp-menu-hd3"></i>密码重置</a>
                        <a><i class="sp-menu-hd4"></i>提醒设置</a>
                        <a><i class="sp-menu-hd5"></i>退出</a>
                    </div>
                </li>
                <li class="my-message">
                    <a >&nbsp;</a>
                    <div class="my-system-menu">
                        <div class="my-system-posi"></div>
                        <a><span class="my-tips-num">1</span>人参与新投票</a>
                        <a><i class="sp-menu-hd6"></i>评论</a>
                        <a><i class="sp-menu-hd7"></i>@我的</a>
                        <a><i class="sp-menu-hd8"></i>系统消息</a>
                    </div>
                    <div class="system-message-div">
                        <a><span class="my-tips-num">1</span>人参与新投票</a>
                        <span class="my-tps-close"></span>
                    </div>
                </li>
                <li class="my-set"><a >&nbsp;</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="app-content-bg">
    <div class="lt-bgcolor"></div>
    <div class="app-content">
        <div class="app-lt lt">
            <div class="m-t5">
                <ul class="app-lt-menu">
                    <li>个人设置</li>
                    <li>
                        <div class="app-lt-submenu">
                            <a><i class="spbg1 sprite-10"></i>个人设置</a>
                            <a><i class="spbg1 sprite-11"></i>头像修改</a>
                            <a><i class="spbg1 sprite-14"></i>密码修改</a>
                            <a><i class="spbg1 sprite-13"></i>提醒设置</a>
                        </div>
                    </li>
                    <li>个人设置</li>
                    <li>
                        <div class="app-lt-submenu">
                            <a class="current"><i class="spbg1 sprite-10"></i>个人数据</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="app-ct w1049 lt">
            <div class="i-set">
                <div class="iset-uppwd">
                    <dl class="iset-cont-dl">
                        <dt>当前密码</dt>
                        <dd><input type="text" class="iset-input" placeholder="请输入当前密码" /></dd>
                    </dl>
                    <dl class="iset-cont-dl">
                        <dt>新密码</dt>
                        <dd><input type="text" class="iset-input" placeholder="请输入新密码" /></dd>
                    </dl>
                    <dl class="iset-cont-dl">
                        <dt>密码强度</dt>
                        <dd>
                            <span class="iset-pwd-color current"></span>
                            <span class="iset-pwd-color"></span>
                            <span class="iset-pwd-color"></span>
                        </dd>
                    </dl>
                    <dl class="iset-cont-dl">
                        <dt>确认新密码</dt>
                        <dd><input type="text" class="iset-input" placeholder="请输入当前登录密码" /></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-footer">
    <ul class="links-list">
        <li >
            <a href="###">联系我们</a><span>|</span>
        </li>
        <li >
            <a href="###">安全隐私</a><span>|</span>
        </li>
        <li >
            <a href="###">合作伙伴</a>
        </li>
        <li >
            <a class="footer-phone"></a>
        </li>
        <li >
            <a class="footer-qq"></a>
        </li>
    </ul>
    <div class="app-copyright">
        沪ICP备13026113号 Copyright @ 2012-2014 i8xiaoshi
    </div>
</div>
<script  src="../../resource/default/javascripts/common/jquery-1.8.3.min.js"></script>
<script  src="../../resource/default/javascripts/common/sea.js"></script>
<script  src="../../resource/default/javascripts/common/i8_global.js"></script>
<script>

</script>
</body>
</html>

