<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta http-equiv="x-ua-compatible" content="IE=8" >
    <!--start css-->
    <link type="text/css" rel="stylesheet" href="../../resource/default/stylesheets/fw.css" />
    <link type="text/css" rel="stylesheet" href="../../resource/default/stylesheets/app.css" />
    <link type="text/css" rel="stylesheet" href="home.css" />
    <!--end css-->
</head>
<body>
<div class="app-header">
    <div class="app-header-top">
        <div class="login-info">
            <a href="javascript:;"></a>
            您好，欢迎来到i8小时！ <a href="/logout" title="退出系统">退出</a>
        </div>
    </div>
    <div class="app-header-main">
        <img src="placard-bg.png" class="app-placard-icon lt m-r15">
        <p class="b fz18 m-t10 heit">公告管理</p>
    </div>
</div>
<div class="app-content-bg">
    <div class="app-content">
        <div class="app-ct">
            <dl class="app-placard-edit m-t20 cl000">
                <dt class="placard-edit-tt lt">分类选择</dt>
                <dd>
                    <select class="placard-edit-txt"></select>
                </dd>
                <dt class="placard-edit-tt lt">发布类型</dt>
                <dd>
                    <label class="placard-edit-radio"><input type="radio" name="edit-type" />即时发布</label>
                    <label class="placard-edit-radio"><input type="radio" name="edit-type" />定时发布</label>
                    <input class="placard-edit-txt m-r10" style="width: 410px;" type="text"><input class="placard-edit-txt" style="width: 410px;" type="text">
                </dd>
                <dt class="placard-edit-tt lt">发布类型</dt>
                <dd>
                    <label class="placard-edit-radio"><input type="radio" name="edit-type" />即时发布</label>
                    <label class="placard-edit-radio"><input type="radio" name="edit-type" />定时发布</label>
                    <input class="placard-edit-txt" style="width: 842px;" type="text"/>
                </dd>
                <dt class="placard-edit-tt lt">图片</dt>
                <dd>
                    <div class="placard-edit-upfile">
                        <span class="btn-blue96x32 lt m-r10">上传</span>
                        <p class="fz14-weight cl000">140*140 效果最佳</p>
                        <p class="placard-upfile-tps">最多上传六张图片，支持.jpg，.png，.jpeg格式  大小：800K</p>
                    </div>
                    <ul class="placard-files-ul oflow">
                        <li>
                            <p class="placard-file-bd"><img src="http://hvming.i8xiaoshi.com/resource/default/special/images/common/logo.png" /></p>
                            <span class="spbg1 sprite-65"></span>
                            <p class="placard-files-name">产品委员会图片.png</p>
                        </li>
                        <li>
                            <p class="placard-file-bd"><img src="http://hvming.i8xiaoshi.com/resource/default/special/images/common/logo.png" /></p>
                            <span class="spbg1 sprite-65"></span>
                            <p class="placard-files-name">产品委员会图片.png</p>
                        </li>
                        <li>
                            <p class="placard-file-bd"><img src="http://hvming.i8xiaoshi.com/resource/default/special/images/common/logo.png" /></p>
                            <span class="spbg1 sprite-65"></span>
                            <p class="placard-files-name">产品委员会图片.png</p>
                        </li>
                        <li>
                            <p class="placard-file-bd"><img src="http://hvming.i8xiaoshi.com/resource/default/special/images/common/logo.png" /></p>
                            <span class="spbg1 sprite-65"></span>
                            <p class="placard-files-name">产品委员会图片.png</p>
                        </li>
                        <li>
                            <p class="placard-file-bd"><img src="http://hvming.i8xiaoshi.com/resource/default/special/images/common/logo.png" /></p>
                            <span class="spbg1 sprite-65"></span>
                            <p class="placard-files-name">产品委员会图片.png</p>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl class="app-placard-edit m-t20 cl000">
                <dt class="placard-edit-tt lt">主题</dt>
                <dd>
                    <select class="placard-edit-txt"></select>
                </dd>
                <dt class="placard-edit-tt lt">内容</dt>
                <dd>
                    <textarea class="placard-edit-txt" style="height: 280px;"></textarea>
                </dd>
            </dl>
            <div class="tcenter">
                <span class="placard-have-btn">保存使用</span>
                <span class="placard-cancel-btn">取消</span>
            </div>
        </div>
    </div>
</div>
<div class="app-footer">
    <ul class="links-list">
        <li >
            <a href="###">联系我们</a><span>|</span>
        </li>
        <li >
            <a href="###">安全隐私</a><span>|</span>
        </li>
        <li >
            <a href="###">合作伙伴</a>
        </li>
        <li >
            <a class="footer-phone"></a>
        </li>
        <li >
            <a class="footer-qq"></a>
        </li>
    </ul>
    <div class="app-copyright">
        沪ICP备13026113号 Copyright @ 2012-2014 i8xiaoshi
    </div>
</div>
<script  src="../../resource/default/javascripts/common/jquery-1.8.3.min.js"></script>
<script  src="../../resource/default/javascripts/common/sea.js"></script>
<script  src="../../resource/default/javascripts/common/i8_global.js"></script>
<script>

</script>
</body>
</html>

