<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta http-equiv="x-ua-compatible" content="IE=8" >
    <!--start css-->
    <link type="text/css" rel="stylesheet" href="../../resource/default/stylesheets/fw.css" />
    <link type="text/css" rel="stylesheet" href="../../resource/default/stylesheets/app.css" />
    <link type="text/css" rel="stylesheet" href="home.css" />
    <!--end css-->
</head>
<body>
<div class="app-header">
    <div class="app-header-top">
        <div class="login-info">
            <a href="javascript:;"></a>
            您好，欢迎来到i8工作流系统中心！ <a href="/logout" title="退出系统">退出</a>
        </div>
    </div>
    <div class="app-header-main">
        <a class="app-logo"></a>
        <ul class="app-mapsite">
            <li>
                <a href="###">社区协作</a>
            </li>
            <li>
                <a href="/main" class="current">数据流量</a>
            </li>
        </ul>
        <div class="app-funs">
            <div class="app_top_search">
                <span id="js_header_search_btn" class="app_top_search_btn"></span>
                <input id="js_header_search_txt" class="app_top_search_input" type="text">
                <span class="app_top_search_mask" >搜索侃侃、动态、同事、文档 <i class="app_top_search_btn"></i></span>
                <div style="display: none" id="com_top_headdown_tempSuggestBox"></div>
            </div>
            <ul class="my-system">
                <li class="my-info">
                    <a >&nbsp;</a>
                    <div class="my-system-menu">
                        <div class="my-system-posi"></div>
                        <a><i class="sp-menu-hd1"></i>个人设置</a>
                        <a><i class="sp-menu-hd3"></i>修改头像</a>
                        <a><i class="sp-menu-hd3"></i>密码重置</a>
                        <a><i class="sp-menu-hd4"></i>提醒设置</a>
                        <a><i class="sp-menu-hd5"></i>退出</a>
                    </div>
                </li>
                <li class="my-message">
                    <a >&nbsp;</a>
                    <div class="my-system-menu">
                        <div class="my-system-posi"></div>
                        <a><span class="my-tips-num">1</span>人参与新投票</a>
                        <a><i class="sp-menu-hd6"></i>评论</a>
                        <a><i class="sp-menu-hd7"></i>@我的</a>
                        <a><i class="sp-menu-hd8"></i>系统消息</a>
                    </div>
                    <div class="system-message-div">
                        <a><span class="my-tips-num">1</span>人参与新投票</a>
                        <span class="my-tps-close"></span>
                    </div>
                </li>
                <li class="my-set"><a >&nbsp;</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="app-content-bg">
    <div class="lt-bgcolor"></div>
    <div class="app-content">
        <div class="app-lt lt">
            <div class="my-info">
                <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                <p class="my-info-name">爱因斯坦</p>
                <p>产品发展部</p>
            </div>
            <div>
                <ul class="app-lt-menu">
                    <li>流程</li>
                    <li>
                        <div class="app-lt-submenu fz12">
                            <a class="current"><i class="spbg1 sprite-38"></i>动态</a>
                            <a><i class="spbg1 sprite-41"></i>通讯录</a>
                            <span class="app-lt-group"><i class="spbg1 sprite-42"></i>群组</a></span>
                            <div class="">
                                <a class="nav-a1"><i class="spbg1 sprite-24"></i>进入群组</a>
                                <a class="nav-a2"><i class="spbg1 sprite-43"></i>创建新群租</a>
                            </div>
                        </div>
                    </li>
                    <li>工作协作</li>
                    <li>
                        <div class="app-lt-submenu">
                            <a class="current"><i class="spbg1 sprite-45"></i>周日报</a>
                            <a><i class="spbg1 sprite-46"></i>日程<span class="lt-apps-num">3</span></a>
                            <a><i class="spbg1 sprite-47"></i>任务</a>
                            <a><i class="spbg1 sprite-48"></i>微邮</a>
                            <a><i class="spbg1 sprite-49"></i>知识库</a>
                            <a><i class="spbg1 sprite-50"></i>投票</a>
                        </div>
                    </li>
                    <li>常用应用</li>
                    <li>
                        <div class="app-lt-submenu">
                            <a class="current"><i class="spbg1 sprite-51"></i>bugfree</a>
                            <a><i class="spbg1 sprite-51"></i>公司点餐系统</a>
                            <a><i class="spbg1 sprite-51"></i>投资管理系统</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="app-ct w790 lt"></div>
        <div class="app-rt w252 rt">
            <div class="rt-block">
                <div class="rt-block-tt heit">
                    <div class="lt"><i class="spbg1 sprite-37"></i>公告</div>
                    <div class="rt"><a class="rt-other">更多</a></div>
                </div>
                <div class="rt-block-cont">
                    <div class="rt-cement">
                        <div class="rt-cement-tt">
                            <span class="lt">2014年度国庆节放假通知</span>
                            <span class="rt rt-other">10/05</span>
                        </div>
                        <div class="rt-cement-intro" style="">
                            经公司研究决定，对个别部门做人事调整，具体调整信息：
                            1、自2014年10月8日起 吴志燕卸任《质控部》负责人 一职 由 米总任《质控部》 负责人 一职，即日起负责该部门一... <a>详情</a>
                        </div>
                    </div>
                    <div class="rt-weather">
                        <i class="spbg1 sprite-"></i>上海 9月27日 周三 小雨 15℃-25℃
                    </div>
                    <div class="rt-weather-set">
                        <select style="width: 220px; margin-bottom: 10px; height: 35px;">
                            <option>上海</option>
                        </select>
                        <select style="width: 220px; margin-bottom: 10px; height: 35px;">
                            <option>上海</option>
                        </select>
                        <span class="btn-gray96x32 lt">取消</span>
                        <span class="btn-blue96x32 rt">确定</span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="rt-block">
                <div class="rt-block-tt heit">
                    <div class="lt"><i></i>我的任务</div>
                    <div class="rt">
                        <span class="spbg1 sprite-44"></span  >
                    </div>
                </div>
                <div class="rt-block-cont">
                    <div class="rt-schedule-day rel">
                        <div class="spbg1 sprite-52">三</div>
                        <span>01</span><span>02</span><span>03</span><span class="current">04</span><span>05</span><span>06</span><span>07</span>
                        <div class="clear"></div>
                    </div>
                    <div class="rt-schedule-lists">
                        <p><i class="rt-schedule-op">·<b></b></i><span>09:00</span>客户服务例会</p>
                        <p><i class="rt-schedule-op">·<b></b></i><span>09:00</span>客户服务例会</p>
                        <p><i class="rt-schedule-op">·</i><span>09:00</span>客户服务例会</p>
                    </div>
                </div>
            </div>
            <div class="rt-block">
                <div class="rt-block-tt heit">
                    <div class="lt "><i></i>我的日程</div>
                </div>
                <div class="rt-block-cont">
                    <div class="rt-task">
                        <div class="rt-task-type lt bdrt1">
                            <span class="rt-task-c1">4</span>
                            <span>待办的</span>
                        </div>
                        <div class="rt-task-type lt bdrt1">
                            <span class="rt-task-c2">5</span>
                            <span>发起的</span>
                        </div>
                        <div class="rt-task-type lt">
                            <span class="rt-task-c3">7</span>
                            <span>参与的</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="rt-task-end">
                        任务延误率：30%
                    </div>
                </div>
            </div>
            <div class="rt-block">
                <div class="rt-block-tt heit">
                    <div class="lt"><i></i>生日祝福</div>
                </div>
                <div class="rt-block-cont">
                    <div class="rt-birthday">
                        <div class="rt-birthday-tt">
                            <img class="lt rt-birthday-img" src="http://hvming.i8xiaoshi.com/resource/default/zh-cn/images/gift/dangao.png" />
                            近期有 <span class="rt-birthday-c">2</span> 位同事将过生日，
                            我们祝他生日快乐!
                        </div>
                        <div class="rt-birthday-info">
                            <div class="rt-birthday-hd">
                                <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                                <p><span class="rt-birthday-name">爱因斯坦</span>09.29</p>
                                <p>09.29 天平座</p>
                                <div class="clear"></div>
                            </div>
                            <div class="rt-birthday-tr oflow">
                                <span class="rt-birthday-td lt"><i class="spbg1 sprite-53"></i>生日快乐</span>
                                <span class="rt-birthday-td rt"><i class="spbg1 sprite-54"></i>送TA礼物</span>
                                <div class="clear"></div>
                                <div class="rt-birthday-persons">
                                    <span class="rt-linj">◆<span>◆</span></span>
                                    <img class="" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                                    <img class="" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                                    <img class="" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                                    <img class="" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                                    <img class="" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="rt-birthday-info">
                            <div class="rt-birthday-hd">
                                <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                                <p><span class="rt-birthday-name">爱因斯坦</span>09.29</p>
                                <p>09.29 天平座</p>
                                <div class="clear"></div>
                            </div>
                            <div class="rt-birthday-tr oflow">
                                <span class="rt-birthday-td lt"><i class="spbg1 sprite-53"></i>生日快乐</span>
                                <span class="rt-birthday-td rt"><i class="spbg1 sprite-54"></i>送TA礼物</span>
                                <div class="clear"></div>
                                <div class="rt-birthday-persons">
                                    <span class="rt-linj">◆<span>◆</span></span>
                                    <img class="" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                                    <img class="" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                                    <img class="" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                                    <img class="" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                                    <img class="" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rt-block">
                <div class="rt-block-tt heit">
                    <div class="lt"><i></i>i8小时社区</div>
                </div>
                <div class="rt-block-cont">
                    <ul class="rt-topic">
                        <li><a>i8小时9月24日升级内容</a></li>
                        <li><a>如何在微信上使用i8小时</a></li>
                        <li><a>多人日程共享的技巧</a></li>
                        <li><a>i8小时新手入门</a></li>
                        <li><a>i8小时9月24日升级内容</a></li>
                        <li><a>如何在微信上使用i8小时</a></li>
                        <li><a>多人日程共享的技巧</a></li>
                        <li><a>i8小时新手入门</a></li>
                    </ul>
                </div>
            </div>
            <div class="rt-block">
                <div class="rt-block-tt heit">
                    <div class="lt"><i></i>新员工风采</div>
                </div>
                <div class="rt-block-cont">
                    <div class="">
                        <div class="rt-new-people">
                            <div class="rt-birthday-hd">
                                <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                                <p><span class="rt-birthday-name">爱因斯坦</span>09.29</p>
                                <p>2014/05/09首次登录</p>
                                <div class="clear"></div>
                            </div>
                            <div class="new-people-info">
                                <p><i class="spbg1 sprite-55"><b></b></i> 籍贯 湖北宜昌</p>
                                <p><i class="spbg1 sprite-56"><b></b></i> 星座 处女座</p>
                                <p><i class="spbg1 sprite-57"></i> 爱好 炸金花、篮球</p>
                            </div>
                        </div>
                        <div class="rt-new-people">
                            <div class="rt-birthday-hd">
                                <img class="my-headimg lt" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg">
                                <p><span class="rt-birthday-name">爱因斯坦</span>09.29</p>
                                <p>2014/05/09首次登录</p>
                                <div class="clear"></div>
                            </div>
                            <div class="new-people-info">
                                这个人很懒，<a>邀请TA尽快完善信息吧！</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="rt-block">
                <div class="rt-block-tt heit">
                    <div class="lt"><i></i>热门话题</div>
                </div>
                <div class="rt-block-cont">
                    <ul class="rt-topic">
                        <li><a>#端午节活动#</a></li>
                        <li><a>#端午节活动#</a></li>
                        <li><a>#端午节活动#</a></li>
                        <li><a>#端午节活动#</a></li>
                        <li><a>#端午节活动#</a></li>
                        <li><a>#端午节活动#</a></li>
                        <li><a>#端午节活动#</a></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="app-footer">
    <ul class="links-list">
        <li >
            <a href="###">联系我们</a><span>|</span>
        </li>
        <li >
            <a href="###">安全隐私</a><span>|</span>
        </li>
        <li >
            <a href="###">合作伙伴</a>
        </li>
        <li >
            <a class="footer-phone"></a>
        </li>
        <li >
            <a class="footer-qq"></a>
        </li>
    </ul>
    <div class="app-copyright">
        沪ICP备13026113号 Copyright @ 2012-2014 i8xiaoshi
    </div>
</div>
<script  src="../../resource/default/javascripts/common/jquery-1.8.3.min.js"></script>
<script  src="../../resource/default/javascripts/common/sea.js"></script>
<script  src="../../resource/default/javascripts/common/i8_global.js"></script>
<script>

</script>
</body>
</html>

