<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta http-equiv="x-ua-compatible" content="IE=8" >
    <!--start css-->
    <link type="text/css" rel="stylesheet" href="../../resource/default/stylesheets/fw.css" />
    <link type="text/css" rel="stylesheet" href="../../resource/default/stylesheets/app.css" />
    <link type="text/css" rel="stylesheet" href="home.css" />
    <!--end css-->
</head>
<body>
<div class="app-header">
    <div class="app-header-top">
        <div class="login-info">
            <a href="javascript:;"></a>
            您好，欢迎来到i8工作流系统中心！ <a href="/logout" title="退出系统">退出</a>
        </div>
    </div>
    <div class="app-header-main">
        <a class="app-logo"></a>
        <ul class="app-mapsite">
            <li>
                <a href="###">社区协作</a>
            </li>
            <li>
                <a href="/main" class="current">数据流量</a>
            </li>
        </ul>
        <div class="app-funs">
            <div class="app_top_search">
                <span id="js_header_search_btn" class="app_top_search_btn"></span>
                <input id="js_header_search_txt" class="app_top_search_input" type="text">
                <span class="app_top_search_mask" >搜索侃侃、动态、同事、文档 <i class="app_top_search_btn"></i></span>
                <div style="display: none" id="com_top_headdown_tempSuggestBox"></div>
            </div>
            <ul class="my-system">
                <li class="my-info">
                    <a >&nbsp;</a>
                    <div class="my-system-menu">
                        <div class="my-system-posi"></div>
                        <a><i class="sp-menu-hd1"></i>个人设置</a>
                        <a><i class="sp-menu-hd3"></i>修改头像</a>
                        <a><i class="sp-menu-hd3"></i>密码重置</a>
                        <a><i class="sp-menu-hd4"></i>提醒设置</a>
                        <a><i class="sp-menu-hd5"></i>退出</a>
                    </div>
                </li>
                <li class="my-message">
                    <a >&nbsp;</a>
                    <div class="my-system-menu">
                        <div class="my-system-posi"></div>
                        <a><span class="my-tips-num">1</span>人参与新投票</a>
                        <a><i class="sp-menu-hd6"></i>评论</a>
                        <a><i class="sp-menu-hd7"></i>@我的</a>
                        <a><i class="sp-menu-hd8"></i>系统消息</a>
                    </div>
                    <div class="system-message-div">
                        <a><span class="my-tips-num">1</span>人参与新投票</a>
                        <span class="my-tps-close"></span>
                    </div>
                </li>
                <li class="my-set"><a >&nbsp;</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="app-content-bg">
    <div class="app-content">
        <div class="ta-home-bg oflow">
            <img class="pf-img" src="pf.png" width="1200" />
            <div class="ta-head-bd">
                <div class="ta-head-bc"></div>
                <img src="http://hvming.i8xiaoshi.com/ResourceStore/HeadXLarge/c4b2d40b-8c2c-4fa3-95ac-5c48e23d9807.jpg">
            </div>
            <div class="ta-home-name heit tcenter">
                客户反馈群
                <p class="ta-home-tps">我就是这么拽，我有钱，我任性</p>
            </div>
            <div class="ta-home-info" style="width: 540px;">
                <div class="ta-home-ddd" style="width: 480px;">··································································</div>
                <div class="ta-home-td lt">
                    <i class="spbg1 sprite-27" style="margin-left: 28px;" title="成员数"></i>
                    <p style="text-indent: 30px;">15</p>
                </div>
                <div class="ta-home-td lt">
                    &nbsp;
                </div>
                <div class="ta-home-td lt">
                    <i class="spbg1 sprite-28" style="margin-left: 48px;" title="创建人"></i>
                    <p style="text-indent: 40px;">丁芝</p>
                </div>
                <div class="ta-home-td lt">
                    &nbsp;
                </div>
                <div class="ta-home-td lt">
                    <i class="spbg1 sprite-29" style="margin-left: 65px;" title="管理员"></i>
                    <p class="tright">徐伟、王云景</p>
                </div>
            </div>
            <div class="ta-pf-btns">
                <div class="ta-pf-btn">
                    <p>上传封面图</p>
                    <i class=""></i>
                </div>
                <div class="ta-pf-btn">
                    <p style="background: #49C7EA;">邀请成员</p>
                    <i class="hover-btn2"></i>
                </div>
                <div class="ta-pf-btn">
                    <p style="background: #F8B62F;">关闭该群</p>
                    <i class="hover-btn3"></i>
                </div>
            </div>
        </div>
        <div class="app-ta-lt w750 lt">
            <div class="ta-home-menu ">
                <div class="lt">
                    <span class="ta-tt fz14-weight">群组动态</span>
                </div>
                <div class="lt">
                    <span class="ta-tt fz14-weight ">群组成员</span>
                </div>
                <div class="lt">
                    <span class="ta-tt fz14-weight current">群组文档</span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="cl000 m-t15">
                <div class="rt-doc-block oflow">
                    <div class="lt rt-doc-img m-r15">
                        <img src="http://hvming.i8xiaoshi.com/ResourceStore/1/cd2977ad-7aee-4db1-9d32-1516a9addf89/FileThumb/5/0b2157fb-a726-4997-b90e-a16811f1fc27.jpg" />
                        <i class="spbg1 sprite-61 ic-doc"></i>
                    </div>
                    <div class="group-doc-cont">
                        <p class="fz14-weight m-t5 m-b5">基于遗传算法和虚拟显示的施工设备布置系统</p>
                        <P>万方数据知识服务平台 www.wanfangdata.com.cn 2013年3月 数字出版事业部 安徽农业大学 ? ` 中文资源库 万方数据 远程站点 1 2 万方数据公司简介 知识服务平台...万方数据知识服务平台 www.wanfangdata.com.cn 2013年3月 数字出版事业部 安徽农业大学 ? ` 中文资源库 万方数据 远程站点 1 2 万方数据公司简介 知识服务平台...</P>
                        <p class="rt-doc-utime">
                            <span class="rt-doc-uname">王杰龙</span>
                            <span class="p10">|</span>
                            <span>2014年5月17日</span>
                            <span class="p10">|</span>
                            <span class="">阅读<span class="clred m-l10">19</span></span>
                            <span class="p10">|</span>
                            <span class="">评论<span class="clred m-l10">15</span></span>
                        </p>
                    </div>
                </div>
                <div class="rt-doc-block oflow">
                    <div class="lt rt-doc-img m-r15">
                        <img src="http://hvming.i8xiaoshi.com/ResourceStore/1/cd2977ad-7aee-4db1-9d32-1516a9addf89/FileThumb/5/0b2157fb-a726-4997-b90e-a16811f1fc27.jpg" />
                        <i class="spbg1 sprite-61 ic-doc"></i>
                    </div>
                    <div class="group-doc-cont">
                        <p class="fz14-weight m-t5 m-b5">基于遗传算法和虚拟显示的施工设备布置系统</p>
                        <P>万方数据知识服务平台 www.wanfangdata.com.cn 2013年3月 数字出版事业部 安徽农业大学 ? ` 中文资源库 万方数据 远程站点 1 2 万方数据公司简介 知识服务平台...万方数据知识服务平台 www.wanfangdata.com.cn 2013年3月 数字出版事业部 安徽农业大学 ? ` 中文资源库 万方数据 远程站点 1 2 万方数据公司简介 知识服务平台...</P>
                        <p class="rt-doc-utime">
                            <span class="rt-doc-uname">王杰龙</span>
                            <span class="p10">|</span>
                            <span>2014年5月17日</span>
                            <span class="p10">|</span>
                            <span class="">阅读<span class="clred m-l10">19</span></span>
                            <span class="p10">|</span>
                            <span class="">评论<span class="clred m-l10">15</span></span>
                        </p>
                    </div>
                </div>
                <div class="rt-doc-block oflow">
                    <div class="lt rt-doc-img m-r15">
                        <img src="http://hvming.i8xiaoshi.com/ResourceStore/1/cd2977ad-7aee-4db1-9d32-1516a9addf89/FileThumb/5/0b2157fb-a726-4997-b90e-a16811f1fc27.jpg" />
                        <i class="spbg1 sprite-61 ic-doc"></i>
                    </div>
                    <div class="group-doc-cont">
                        <p class="fz14-weight m-t5 m-b5">基于遗传算法和虚拟显示的施工设备布置系统</p>
                        <P>万方数据知识服务平台 www.wanfangdata.com.cn 2013年3月 数字出版事业部 安徽农业大学 ? ` 中文资源库 万方数据 远程站点 1 2 万方数据公司简介 知识服务平台...万方数据知识服务平台 www.wanfangdata.com.cn 2013年3月 数字出版事业部 安徽农业大学 ? ` 中文资源库 万方数据 远程站点 1 2 万方数据公司简介 知识服务平台...</P>
                        <p class="rt-doc-utime">
                            <span class="rt-doc-uname">王杰龙</span>
                            <span class="p10">|</span>
                            <span>2014年5月17日</span>
                            <span class="p10">|</span>
                            <span class="">阅读<span class="clred m-l10">19</span></span>
                            <span class="p10">|</span>
                            <span class="">评论<span class="clred m-l10">15</span></span>
                        </p>
                    </div>
                </div>
                <div class="rt-doc-block oflow">
                    <div class="lt rt-doc-img m-r15">
                        <img src="http://hvming.i8xiaoshi.com/ResourceStore/1/cd2977ad-7aee-4db1-9d32-1516a9addf89/FileThumb/5/0b2157fb-a726-4997-b90e-a16811f1fc27.jpg" />
                        <i class="spbg1 sprite-61 ic-doc"></i>
                    </div>
                    <div class="group-doc-cont">
                        <p class="fz14-weight m-t5 m-b5">基于遗传算法和虚拟显示的施工设备布置系统</p>
                        <P>万方数据知识服务平台 www.wanfangdata.com.cn 2013年3月 数字出版事业部 安徽农业大学 ? ` 中文资源库 万方数据 远程站点 1 2 万方数据公司简介 知识服务平台...万方数据知识服务平台 www.wanfangdata.com.cn 2013年3月 数字出版事业部 安徽农业大学 ? ` 中文资源库 万方数据 远程站点 1 2 万方数据公司简介 知识服务平台...</P>
                        <p class="rt-doc-utime">
                            <span class="rt-doc-uname">王杰龙</span>
                            <span class="p10">|</span>
                            <span>2014年5月17日</span>
                            <span class="p10">|</span>
                            <span class="">阅读<span class="clred m-l10">19</span></span>
                            <span class="p10">|</span>
                            <span class="">评论<span class="clred m-l10">15</span></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-rt w417 rt">
            <div class="rt-block">
                <div class="rt-block-tt">
                    <div class="lt heit"><i class="spbg1 sprite-37"></i>公告</div>
                    <div class="rt"><a class="rt-other">更多</a></div>
                </div>
                <div class="rt-block-cont">
                    <div class="rt-cement">
                        <div class="rt-cement-tt">
                            <span class="lt">2014年度国庆节放假通知</span>
                            <span class="rt rt-other">10/05</span>
                        </div>
                        <div class="rt-cement-intro" style="">
                            经公司研究决定，对个别部门做人事调整，具体调整信息：
                            1、自2014年10月8日起 吴志燕卸任《质控部》负责人 一职 由 米总任《质控部》 负责人 一职，即日起负责该部门一... <a>详情</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rt-block">
                <div class="rt-block-tt heit">
                    <div class="lt">群组成员</div>
                </div>
                <div class="rt-block-cont">
                    <div class="p-b10 p-t10">
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <a class="rt-team-ops lt">
                            <img class="my-headimg" src="http://hvming.i8xiaoshi.com/ResourceStore/HeadMiddle/4808a9a1-0da7-49cb-868a-e1572e971ca5.jpg"/>
                            爱因斯坦
                        </a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="rt-block">
                <div class="rt-block-tt heit">
                    <div class="lt">群组文档</div>
                </div>
                <div class="rt-block-cont">
                    <div class="rt-doc-block oflow">
                        <div class="lt rt-doc-img m-r10">
                            <img src="http://hvming.i8xiaoshi.com/ResourceStore/1/cd2977ad-7aee-4db1-9d32-1516a9addf89/FileThumb/5/0b2157fb-a726-4997-b90e-a16811f1fc27.jpg" />
                            <i class="spbg1 sprite-61 ic-doc"></i>
                        </div>
                        <div>
                            <p class="rt-doc-name fz14-weight m-t10">基于遗传算法和虚拟显示的施工设备布置系统</p>
                            <p class="rt-doc-uname">王杰龙</p>
                            <p class="rt-doc-utime">2015-11-11</p>
                        </div>
                    </div>
                    <div class="rt-doc-block oflow">
                        <div class="lt rt-doc-img m-r10">
                            <img src="http://hvming.i8xiaoshi.com/ResourceStore/1/cd2977ad-7aee-4db1-9d32-1516a9addf89/FileThumb/5/0b2157fb-a726-4997-b90e-a16811f1fc27.jpg" />
                            <i class="spbg1 sprite-61 ic-ppt"></i>
                        </div>
                        <div>
                            <p class="rt-doc-name fz14-weight m-t10">基于遗传算法和虚拟显示的施工设备布置系统</p>
                            <p class="rt-doc-uname">王杰龙</p>
                            <p class="rt-doc-utime">2015-11-11</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-footer">
    <ul class="links-list">
        <li >
            <a href="###">联系我们</a><span>|</span>
        </li>
        <li >
            <a href="###">安全隐私</a><span>|</span>
        </li>
        <li >
            <a href="###">合作伙伴</a>
        </li>
        <li >
            <a class="footer-phone"></a>
        </li>
        <li >
            <a class="footer-qq"></a>
        </li>
    </ul>
    <div class="app-copyright">
        沪ICP备13026113号 Copyright @ 2012-2014 i8xiaoshi
    </div>
</div>
<script  src="../../resource/default/javascripts/common/jquery-1.8.3.min.js"></script>
<script  src="../../resource/default/javascripts/common/sea.js"></script>
<script  src="../../resource/default/javascripts/common/i8_global.js"></script>
<script>

</script>
</body>
</html>

