<ul class="app-left">
    <li>个人设置</li>
    <li>
        <ul>
            <li id="left_link_info" class="li-nav21 "><a href="/users/settings/info">个人信息</a></li>
            <li id="left_link_header" class="li-nav22 "><a href="/users/settings/header">头像修改</a></li>
            <li id="left_link_pwdreset" class="li-nav23 "><a  href="/users/settings/pwdreset">密码修改</a></li>
            <li id="left_link_tips" class="li-nav24 "><a href="/users/settings/tips">提醒设置</a></li>
        </ul>
    </li>
    <li>数据</li>
    <li>
        <ul>
            <li class=" li-nav25"><a target="_self" href="/process/manage">个人数据</a></li>
        </ul>
    </li>
</ul>